.form-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  column-gap: 2.4rem;
  row-gap: 1.4rem;
  margin: 2.4rem auto;
  max-width: 100%;
}

.form-col {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.img-preview-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  max-width: 70%;

  overflow: auto;
}

.form-description {
  grid-column: span 2;
  text-align: center;
}

.description-textarea {
  font-size: 2rem;
  padding: 1.2rem;
}

@media only screen and (max-width: 650px) {
  .form-container {
    display: block;
    width: 90%;
    margin: 0 auto;
  }

  .img-preview-container {
    gap: 0.6rem;
    max-width: 90%;
  }
}
