* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
  background-color: #e9ecef;
  color: #eee;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-size: 2rem;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a,
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;

  border-radius: 9px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.infinite-icon {
  font-size: 3rem;
  font-weight: 600;
  padding: 0;

  margin: 0;
}

.page-container {
  width: 85%;
  margin: 0 auto;
}

.page-title {
  text-align: center;
  margin: 6.4rem auto 1.2rem auto;
  color: #333;
  text-transform: uppercase;
}

.icon {
  width: 25px;
  height: 25px;
  margin: 0 0.2rem;
}

input[type="file"] {
  color: transparent;
}

@media only screen and (max-width: 1020px) {
  .btn,
  .btn:link,
  .btn:visited {
    padding: 0.8rem 1rem;
  }

  .page-container {
    width: 98%;
  }
}
