.slider-container {
  display: flex;
  margin: 3.6rem auto;
  width: 60%;
  height: auto;
  position: relative;
  overflow: hidden;
}

.image {
  width: 30vw;
  height: 20vw;
  object-fit: cover;
  margin: 0 auto;
}

.image:hover {
  cursor: pointer;
}

.left-swap,
.right-swap {
  position: absolute;
  height: 40px;
  width: 40px;
  opacity: 50%;
  transition: all 0.3s;
  cursor: pointer;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
}

.left-swap {
  left: 0;
  top: 50%;

  transform: translate(-100%, -50%);
}

.right-swap {
  right: 0;
  top: 50%;

  transform: translate(100%, -50%);
}

.left-swap:hover,
.right-swap:hover {
  opacity: 100%;
}

.total-images {
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
}

@media only screen and (max-width: 1200px) {
  .image {
    width: 40vw;
    height: 30vw;
  }
}

@media only screen and (max-width: 850px) {
  .image {
    width: 60vw;
    height: 40vw;
  }
  .slider-container {
    width: 82%;
  }
  .left-swap,
  .right-swap {
    height: 28px;
    width: 28px;
  }
}
